footer {
	height: 60px;
	width: 100%;
	margin-top: auto;
	border-top: #ccc solid 1px;
	text-align:center;
	box-shadow: 0.5rem 0 0.5rem 0 rgba(0, 0, 0, 0.26);
}

footer p {
	font-size: 1.4rem;
	padding-top: 1.4rem;
}
