.container .responding {
  display: flex;
  justify-content: flex-start;
  width: 39rem;
  height: auto;
  color: auto;
}

.container .places article{
  width: 39rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  border: #ff5a5f solid 1px;
  border-radius: .4rem;
  position: relative;
  box-shadow: 0 .025rem .5rem .2rem rgba(0, 0, 0, 0.26);
}

.places h1 {
  margin-top: 1rem;
  padding-left: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.places article h2 {
  font-size: 2rem;
  position: absolute;
  left: 5rem;
  padding-top: 1rem;
  padding-left: -3rem;
  text-transform: capitalize;
}

.places .price_by_night {
  float: right;
  position: absolute;
  font-size: 3rem;
  top: .7rem;
  right: 5rem;
  padding: 3%;
  min-width: 6rem;
  min-height: 6rem;
  border: .4rem solid #ff5a5f;
  color: #ff5a5f;
  border-radius: 50%;
  transform: rotate(360deg);
}

.information {
  display: flex;
  padding: 1rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 1rem;
  justify-content: center;
  height: 8rem;
  border-top: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms {
  width: 10rem;
  padding-top: 5rem;
}

.information .max_guest {
  background:  url("../images/icon_group.png") no-repeat top center;
}

.information .number_rooms {
  background:  url("../images/icon_bed.png") no-repeat top center;
}

.information .number_bathrooms {
  background:  url("../images/icon_bath.png") no-repeat top center;
}

.user--wrapper {
  border-bottom: #ddd solid 1px;
  padding: 2rem;
}
.user p {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  margin-top: 2rem;
  font-weight: 400;
}

.user p > span {
  font-size: 1.6rem;
  font-weight: bolder;
}

.places article .amenities h2 {
  left: 0;
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 1rem;
  top: 55%;
  margin: 2rem 0;
}

.places .amenities ul {
  list-style: none;
  margin-top: 5rem;
  height: max-content;
  border-bottom: #ddd solid 1px;
}

.places .amenities ul > li {
  height: 5rem;
  padding: 2rem 0;
  background:  url("../images/icon_pets.png") no-repeat left top;
}

.places .amenities ul > li:nth-last-of-type(2){
  background:  url("../images/icon_tv.png") no-repeat left top;
}

.places .amenities ul > li:nth-last-of-type(1){
  background:  url("../images/icon_wifi.png") no-repeat left top;
}

.places article .reviews {
  padding-top: 2rem;
}

.places article .reviews h2 {
  left: 0;
  bottom: 8%;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  margin-bottom: .5rem;
}

.places .reviews ul {
  list-style: none;
  margin-top: 5rem;
  height: max-content;
}

.places .reviews ul li{
  font-weight: 700;
  margin-top: .5rem;
}

.places .reviews ul li p{
  font-weight: 400;
}

@media (max-width: 810px) {
	/* .filters .locations,
	.filters .amenities {
		padding-top: 1rem;
	} */
}

@media (max-width: 768px) {
	/*  */
}

@media (max-width: 502px) {
	/*  */
}

@media (max-width: 428px) {
  .container .responding {
    flex-direction: column;
  }

  .places h1 {
    margin: 3rem 0 0 0;
    text-align: center;
  }

  .container .places article{
    width: 100%;
    height: auto;
    margin: 1rem auto;
    padding: 1rem;
  }

  .places article .amenities h2 {
    text-align: center;
    width: 90%;
    font-size: 2rem;
    text-decoration: underline;
  }
}

@media (max-width: 414px) {
	/* .container {
		max-width: 36rem;
	} */
}

@media (max-width: 384px) {
	/* .container {
		max-width: 34rem;
	} */
}

@media (max-width: 360px) {
	/* .container {
		max-width: 30rem;
	} */
}
