.container .places article{
  float:left;
  width: 39rem;
  margin: 2rem;
  text-align: center;
  border: #ff5a5f solid 1px;
  border-radius: .4rem;
}

.places h1 {
  margin-top: 1rem;
  margin-bottom: -1rem;
  padding-left: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.places article h2 {
  font-size: 2rem;
  padding: 1rem;
  text-transform: capitalize;
}

/* DEBUGGING CODE
.places article:nth-child(2) {
  background-color: blue;
}
*/

.places article:nth-last-of-type(1){
  margin-left: 25%;
  margin-top: 1rem;
}
